body 
{
    margin: 0;
}
h3
{
    text-align: center;
    font-size: 3rem;
    color: #EEEEEE;
    font-family: sans-serif;
}

button
{
    background-color: #ffffff00;
    border: 0.1rem solid #EEEEEE;
    padding: 0.5rem;
    font-family: "Cursed Timer ULiL";
    color: #EEEEEE;
    border-radius: 0.3rem;
    margin: 0 0.3rem 3rem 0.3rem;
    padding: 1rem;
}

.containertimer
{
    background-color: #1B244A;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;    
}

.container 
{
    background-color: #1B244A;
    display: flex;
    justify-content: space-evenly ;
    color: #E0F2FE;
    margin: 1rem;
    border-radius: 1rem;
}

.counternum
{
    font-size: 5.6rem;
    font-family: "Cursed Timer ULiL";
    color: #F94F6D;
    background-color: #080001;
    border-radius: 0.3rem;
    text-align: center;
    line-height: 10rem;
}